/app/config.php
/certs/*
!/certs/.gitkeep
/logs/*
!/logs/.gitkeep
/ssh/*
!/ssh/.gitkeep
/app/zaprelists/*
!/app/zaprelists/.gitkeep
/sftp-config.json
/tg.pyr
/config/wg0.conf
/todo.todo
/app/zapretlists/*
!/app/zapretlists/.gitkeep
.vscode/
.idea/
mirror/.env
update/*
!update/update.sh

override.env