/app/config.php
/certs/*
!/certs/.gitkeep
/logs/*
!/logs/.gitkeep
/ssh/*
!/ssh/.gitkeep
/app/zaprelists/*
!/app/zaprelists/.gitkeep
/sftp-config.json
/tg.pyr
/config/wg0.conf
/config/hwid.json
/todo.todo
/app/zapretlists/*
!/app/zapretlists/.gitkeep
.vscode/
.idea/
mirror/.env
update/*
!update/update.sh

override.env
override.html
override.php
docker-compose.override.yml
backup.json
app/webapp/override/
.rest

subscription.php
location.conf
override.conf
i18n.override.php